<style>
    #ddlSupplierDiv .select2-container {
        width: 234px !important;
    }
</style>
<form name="supplierRefundEntryForm" novalidate>
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="topInfo"> &nbsp; &#9755; <span style="color:red;">Red Icon</span> Denotes Required Field &nbsp;&nbsp;&nbsp;&nbsp; &#9755; Click On A Table Row To Update</div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-shield"></i>&nbsp;Supplier Refund</h3>
                <div class="clearfix">
                </div>
            </div>
            <div class="panel-body">
               
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.supplier.$dirty && supplierRefundEntryForm.supplier.$invalid }" data-toggle="tooltip" data-placement="bottom" title="Select Supplier">
                            <div id="ddlSupplierDiv" class="input-group input-group-md ddl">
                                <select id="ddlSupplier" ng-model="ddlSupplier" name="supplier" class="form-control selectMendatory" ng-options="supplier.SupplierName for supplier in supplierList track by supplier.SupplierId" ng-change=" CheckRefundableAmount(ddlSupplier);pay_SupplierRefund.SupplierId=ddlSupplier.SupplierId; pay_SupplierRefund.SupplierName=ddlSupplier.SupplierName" required>
                                    <option value="" label="-- Select Supplier --"></option>
                                </select>
                                <span class="help-block" ng-show="supplierRefundEntryForm.supplier.$dirty && supplierRefundEntryForm.supplier.$invalid">Supplier Name is required</span>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.PaymentType.$dirty && supplierRefundEntryForm.PaymentType.$invalid }" data-toggle="tooltip" data-placement="bottom" title="Select Payment Type">
                            <div class="input-group input-group-md ddl">
                                <select ng-model="ddlPaymentType" class="form-control selectMendatory" name="PaymentType" ng-change="pay_SupplierRefund.PaymentTypeId=ddlPaymentType.PaymentTypeId; onDivShowGetById(ddlPaymentType.PaymentTypeId)" ng-options="paymentType.PaymentTypeName for paymentType in PaymentTypeList track by paymentType.PaymentTypeId" disabled required>
                                    <option value="" label="Select Payment Type"></option>
                                </select>
                                <span class="help-block" ng-show="supplierRefundEntryForm.PaymentType.$dirty && supplierRefundEntryForm.PaymentType.$invalid">Payment Type is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="input-group tooltipAll" data-toggle="tooltip" title="Refund Date">
                                <input type="text" id="dtRefundDate" ng-model="pay_SupplierRefund.RefundDate" class="form-control" name="RefundDate" placeholder="Refund Date" readonly />

                                <span class="input-group-addon" ng-click="CalendarRefundDate()" id="calenderRefundDate"><i class="fa fa-calendar req-icon-color"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.AdvanceAmount.$dirty && supplierRefundEntryForm.amount.$invalid }" data-toggle="tooltip" data-placement="bottom" title="Refundable Amount">
                            <div class="input-group">
                                <input type="number" id="AdvanceAmount" ng-model="AdvanceAmount" name="AdvanceAmount" class="form-control" placeholder="Refundable Amount" maxlength="15" ng-maxlength="14" readonly>
                                <span class="input-group-addon"><b>Refundable Amount</b></span>
                            </div>
                            <span class="help-block" ng-show="supplierRefundEntryForm.AdvanceAmount.$dirty && supplierRefundEntryForm.AdvanceAmount.$invalid">Refundable Amount is required</span>
                            <span class="help-block" ng-if="supplierRefundEntryForm.AdvanceAmount.$error.maxlength">15 Character Max</span>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.amount.$dirty && supplierRefundEntryForm.amount.$invalid }" data-toggle="tooltip" data-placement="bottom" title="Amount">
                            <div class="input-group">
                                <input type="number" id="txtAmount" ng-model="pay_SupplierRefund.PaidAmount" name="amount" ng-change="CheckValidAmount();" class="form-control" placeholder="Amount" maxlength="15" ng-maxlength="14">
                                <span class="input-group-addon"><i class="fa fa-text-width req-icon-color"></i></span>
                            </div>
                            <span class="help-block" ng-show="supplierRefundEntryForm.amount.$dirty && supplierRefundEntryForm.amount.$invalid">Amount is required</span>
                            <span class="help-block" ng-if="supplierRefundEntryForm.amount.$error.maxlength">15 Character Max</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.BalanceAmount.$dirty && supplierRefundEntryForm.BalanceAmount.$invalid }" data-toggle="tooltip" data-placement="bottom" title="Balance Amount">
                            <div class="input-group">
                                <input type="number" id="BalanceAmount" ng-model="BalanceAmount" name="BalanceAmount" class="form-control" placeholder="Balance Amount" maxlength="15" ng-maxlength="14" readonly>
                                <span class="input-group-addon"><i class="fa fa-bell req-icon-color"></i></span>
                            </div>
                            <span class="help-block" ng-show="supplierRefundEntryForm.BalanceAmount.$dirty && supplierRefundEntryForm.BalanceAmount.$invalid">Balance Amount is required</span>
                            <span class="help-block" ng-if="supplierRefundEntryForm.BalanceAmount.$error.maxlength">15 Character Max</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.PaymentVoucherNo.$dirty && supplierRefundEntryForm.PaymentVoucherNo.$invalid }" data-toggle="tooltip" data-placement="bottom" title="Refund No">
                            <div class="input-group">
                                <input type="text" id="PaymentVoucherNo" ng-model="pay_SupplierRefund.RefundNo" name="PaymentVoucherNo" class="form-control" placeholder="Refund No" readonly/>
                                <span class="input-group-addon"><i class="fa fa-text-width req-icon-color"></i></span>
                            </div>
                            <span class="help-block" ng-show="supplierRefundEntryForm.PaymentVoucherNo.$dirty && supplierRefundEntryForm.PaymentVoucherNo.$invalid">JV No is required</span>
                            <span class="help-block" ng-if="supplierRefundEntryForm.PaymentVoucherNo.$error.maxlength">15 Character Max</span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="chequeShowDiv">
                    <div class="col-md-3">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.ddlBankAccount.$dirty && supplierRefundEntryForm.ddlBankAccount.$invalid }" data-toggle="tooltip" data-placement="bottom" title="Select Bank Name">
                            <div class="input-group input-group-md ddl">
                                <select id="bankddl" ng-model="ddlBankAccount" name="ddlBankAccount" class="form-control selectNotMandetory" ng-options="bank.BankName for bank in BankAccountList track by bank.BankAccountId" ng-change="pay_SupplierRefund.BankAccountId = ddlBankAccount.BankAccountId">
                                    <option value=""> --- Select Bank Name --- </option>
                                </select>
                                <span class="help-block" ng-show="supplierRefundEntryForm.ddlBankAccount.$dirty && supplierRefundEntryForm.ddlBankAccount.$invalid">Supplier Name is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.ddlChequeType.$invalid && supplierRefundEntryForm.ddlChequeType.$touched }" data-toggle="tooltip" data-placement="bottom" title="Cheque Type">
                            <div class="input-group width-hundred-percent">
                                <select id="chequeTypeddl" ng-model="ddlChequeType" name="ddlChequeType" class="form-control selectNotMandetory" ng-options="chequeType.ChequeTypeName for chequeType in ChequeTypeList track by chequeType.ChequeTypeId" ng-change="pay_SupplierRefund.ChequeTypeId = ddlChequeType.ChequeTypeId">
                                    <option value=""> --- Select Cheque Type --- </option>
                                </select>
                                <span class="help-block" ng-show="supplierRefundEntryForm.ddlChequeType.$dirty && supplierRefundEntryForm.ddlChequeType.$invalid">Cheque Type is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.ChequeDate.$invalid && supplierRefundEntryForm.ChequeDate.$touched }" data-toggle="tooltip" data-placement="bottom" title="Cheque Date">
                            <div class="input-group">
                                <input type="text" id="dtChequeDate" ng-model="pay_SupplierRefund.ChequeDate" name="ChequeDate" class="form-control datepicker" placeholder="Cheque Date" readonly />
                                <span class="input-group-addon" ng-click="CalendarChequeDate()" id="txtChequecalender"><i class="fa fa-calendar "></i></span>
                            </div>

                            <span class="help-block" style="display: block;" ng-if="supplierRefundEntryForm.ChequeDate.$error.required && supplierRefundEntryForm.ChequeDate.$touched">PB Date is required</span>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.ChequeNo.$invalid && supplierRefundEntryForm.ChequeNo.$touched }" data-toggle="tooltip" data-placement="bottom" title="Cheque No">
                            <div class="input-group">
                                <input type="text" id="txtChequeNo" name="ChequeNo" class="form-control" ng-model="pay_SupplierRefund.ChequeNo" placeholder="Cheque No" maxlength="50" ng-maxlength="49">
                                <span class="input-group-addon"><i class="fa fa-text-width"></i></span>
                            </div>
                            <span class="help-block" ng-show="supplierRefundEntryForm.ChequeNo.$dirty && supplierRefundEntryForm.ChequeNo.$invalid">Cheque No is required</span>
                            <span class="help-block" ng-if="supplierRefundEntryForm.ChequeNo.$error.maxlength">50 Character Max</span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="OtherShowDiv">
                    <div class="col-md-4">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.ddlServiceName.$dirty && supplierRefundEntryForm.ddlServiceName.$invalid }" data-toggle="tooltip" data-placement="bottom" title="Select Service Name">
                            <div class="input-group input-group-md ddl">
                                <select id="ddlServiceName" ng-model="ddlServiceName" name="ddlServiceName" class="form-control selectNotMandetory" ng-options="service.MobileBankingServiceName for service in MBankingServiceList track by service.MobileBankingServiceId" ng-change="pay_SupplierRefund.MobileBankingServiceId = ddlServiceName.MobileBankingServiceId">
                                    <option value=""> --- Select Service Name --- </option>
                                </select>
                                <span class="help-block" ng-show="supplierRefundEntryForm.ddlServiceName.$dirty && supplierRefundEntryForm.ddlServiceName.$invalid">Service Name is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.MobileNo.$invalid && supplierRefundEntryForm.MobileNo.$touched }" data-toggle="tooltip" data-placement="bottom" title="Mobile No">
                            <div class="input-group">
                                <input type="text" id="txtMobileNo" name="MobileNo" class="form-control" ng-model="pay_SupplierRefund.MobileNo" placeholder="Mobile No" maxlength="50" ng-maxlength="49">
                                <span class="input-group-addon"><i class="fa fa-text-width"></i></span>
                            </div>
                            <span class="help-block" ng-show="supplierRefundEntryForm.MobileNo.$dirty && supplierRefundEntryForm.MobileNo.$invalid">Mobile No is required</span>
                            <span class="help-block" ng-if="supplierRefundEntryForm.MobileNo.$error.maxlength">50 Character Max</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group tooltipAll" ng-class="{ 'has-error' : supplierRefundEntryForm.TransactionId.$invalid && supplierRefundEntryForm.TransactionId.$touched }" data-toggle="tooltip" data-placement="bottom" title="Transaction Id">
                            <div class="input-group">
                                <input type="text" id="txtTransactionId" name="TransactionId" class="form-control" ng-model="pay_SupplierRefund.TransactionNo" placeholder="Transaction Id" maxlength="50" ng-maxlength="49">
                                <span class="input-group-addon"><i class="fa fa-text-width"></i></span>
                            </div>
                            <span class="help-block" ng-show="supplierRefundEntryForm.TransactionId.$dirty && supplierRefundEntryForm.Transaction.$invalid">Transaction Id is required</span>
                            <span class="help-block" ng-if="supplierRefundEntryForm.TransectionId.$error.maxlength">50 Character Max</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 ">
                <button style="width:100%" class="btn btn-success tooltipAll" ng-click="SaveRefund()" ng-disabled="!ddlPaymentType || !pay_SupplierRefund.RefundDate || !pay_SupplierRefund.PaidAmount">
                    <i class="fa fa-floppy-o"></i>&nbsp;Save
                </button>
            </div>
            <div class="col-md-2">
                <button id="Button3" style="width:100%" class="btn btn-danger tooltipAll" title="Search" ng-click="ResetForm()">
                    <i class="fa fa-refresh"></i>&nbsp;Reset
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i>&nbsp;Supplier Refund List</h3>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group tooltipAll" data-toggle="tooltip" title="From Date">
                                <input type="text" name="FromDate" id="txtFromDateForSR" ng-model="FromDate" ng-change="SupplierRefundSearch();" class="form-control " placeholder="From Date" readonly />
                                <span class="input-group-addon" ng-click="FormDateChangeForSR()" id="FormDateChange"><i class="fa fa-calendar req-icon-color"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group tooltipAll" data-toggle="tooltip" title="To Date">
                                    <input type="text" name="ToDate" id="txtToDateForSR" ng-model="ToDate" ng-change="SupplierRefundSearch();" class="form-control " placeholder="To Date" readonly />
                                    <span class="input-group-addon" ng-click="ToDateChangeForSR()" id="ToDateChange"><i class="fa fa-calendar req-icon-color"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group tooltipAll" data-toggle="tooltip" title="Search Supplier Name">
                            <input type="text" class="form-control" id="textSupplierName" ng-model="SearchSupplierName" ng-change="SupplierRefundSearch();" name="name" placeholder="Search Supplier Name" />
                        </div>
                    </div>

                    <div class="col-md-2">
                  
                            <button id="btnSearch" style="width:100%" ng-click="reloadBtn()" class="btn btn-danger tooltipAll" title="Reload">
                                <i class="fa fa-refresh"></i>&nbsp;Clear
                            </button>
                     
                    </div>
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12" style="padding-right: 3%; padding-left: 3%;">
                        <div class="row">
                            <!--<button id="btnSearch" class="customBtn custmoBtnSearch" title="Search" ng-click="getToAndFormDate();CommercialInvoiceSearch()">
                                <i class="fa fa-search-plus"></i>&nbsp;Search
                            </button>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <table class="responstable table-hover">
                            <tbody>
                                <tr class="t-head">
                                    <th>S/N</th>
                                    <th class="txt-center">Supplier Name</th>
                                    <th class="txt-center">Refund Date</th>
                                    <th class="txt-center">Refund Amount</th>
                                    <th class="txt-center">JV No</th>
                                    <th class="txt-center">Payment Type</th>
                                    <th class="txt-center">Action</th>
                                </tr>
                                <tr class="HoverTable searchRow" dir-paginate="aSupplierRefund in SupplierRefundListPaged | itemsPerPage: PerPage"  current-page="currentPage" total-items="total_count">
                                    <td class="t-cell-center">{{$index + ((currentPage-1)*PerPage) + 1}}</td>
                                    <td class="txt-center">{{aSupplierRefund.SupplierName }}</td>
                                    <td class="txt-center">{{aSupplierRefund.RefundDate }}</td>
                                    <td class="txt-center">{{aSupplierRefund.PaidAmount }}</td>
                                    <td class="txt-center">{{aSupplierRefund.JVNo }}</td>
                                    <td class="txt-center">{{aSupplierRefund.PaymentTypeName }}</td>
                                    <td class="txt-center">
                                        <button  id="btnReport" style=""
                                                ng-click="OpenPopupWindow(aSupplierRefund)">
                                           <i class="fa fa-print" style="font-size:18px"></i> Report
                                        </button>
                                    </td>
                                </tr>
                                <tr class="t-foot" ng-show="total_count>PerPage">
                                    <th colspan="8">
                                        <dir-pagination-controls max-size="8"
                                                                 direction-links="true"
                                                                 boundary-links="true"
                                                                 on-page-change="getData(newPageNumber)" style="text-align:center;">
                                        </dir-pagination-controls>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row pagination-footer">
                            <div class="col-md-6">
                                <span>Show </span><input class="input-pagesize" type="number" ng-maxlength="100" ng-minlength="1" width="1" ng-model="PerPage"> <span>Records </span>
                            </div>
                            <div class="col-md-6">
                                <span class="pull-right">Showing {{((currentPage-1)*PerPage)+1}} to {{((currentPage-1) * PerPage) + SupplierRefundListPaged.length}} of {{total_count}} Records</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--<pre>{{pay_SupplierRefund | json}}</pre>-->
</form>

<script>
    $('.tooltipAll').tooltip({ boundary: 'window' })
    //$("#bankddl").select2();
    $("#ddlSupplier").select2({
        placeholder: "Select Supplier",
        theme: "classic",
    });
</script>