

<form name="SupplierDashboardForm" novalidate>

    <div class="col-md-12 ">

        <div class="alert alert-info alert-dismissible fade in hidden-print" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="topInfo"> &nbsp; &#9755; <span style="color:red;">Red Icon</span> Denotes Required Field &nbsp;&nbsp;&nbsp;&nbsp; &#9755; Click On A Table Row To Update</div>
        </div>
        <div class="panel panel-info hidden-print">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-shield"></i>&nbsp;Supplier Dashboard</h3>
                <div class="clearfix">
                </div>
            </div>
            <div class="panel-body">

                <div class="row ">
                    <div class="col-md-3">

                        <div class="tooltipAll" title="Demand No">
                            <div id="SelectMandatoryHide" style="background-color:white;" ng-dropdown-multiselect=""
                                 options="SupplierOptions"
                                 selected-model="SupplierDemandList"
                                 extra-settings="example8settings"
                                 translation-texts="SupplierPlaceholder" ng-click="GetSupplierList();" ng-required="false">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="form-group" ng-class="{ 'has-error' : SupplierDashboardForm.ddlDashboardType.$dirty && SupplierDashboardForm.ddlDashboardType.$invalid }" data-toggle="tooltip" data-placement="bottom" title="Select Dashboard Type">
                            <div class="input-group input-group-md ddl">
                                <select ng-model="ddlDashboardType" name="ddlDashboardType" class="form-control selectMendatory" ng-change="onDivShowGetById(ddlDashboardType.DashboardTypeId)" ng-options="dashboardType.DashboardTypeName for dashboardType in DashboardTypeList track by dashboardType.DashboardTypeId" required>
                                    <option value="" label="-- Dashboard Type--"></option>
                                </select>
                                <span class="help-block" ng-show="SupplierDashboardForm.ddlDashboardType.$dirty && SupplierDashboardForm.ddlDashboardType.$invalid">Dashboard Type is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" ng-show="ddlDashboardType.DashboardTypeId==2">
                        <div class="form-group">
                            <div class="input-group input-group-md ddl">
                                <select ng-model="ddlpayment" name="ddlpayment" id="ddlpayment" class="form-control selectMendatory" ng-options="'['+payment.PaymentGroupName+'] : '+payment.PaymentTypeName for payment in  paymentTypelist track by payment.PaymentTypeId" required>
                                    <option value="">-- Payment Type --</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="input-group " data-toggle="tooltip" title="From Date">
                                <input type="text" name="FromDate" id="txtFromDateForSD" ng-model="FromDate" ng-change="" class="form-control " placeholder="From Date" readonly />
                                <span class="input-group-addon" ng-click="FormDateChangeForSD()" id="FormDateChange"><i class="fa fa-calendar req-icon-color"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group " data-toggle="tooltip" title="To Date">
                                    <input type="text" name="ToDate" id="txtToDateForSD" ng-model="ToDate" ng-change="" class="form-control " placeholder="To Date" readonly />
                                    <span class="input-group-addon" ng-click="ToDateChangeForSD()" id="ToDateChange"><i class="fa fa-calendar req-icon-color"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class=" btn btn-primary" ng-click="onLoadBtn()" ng-disabled="!FromDate || !ToDate">Load </button>
                    </div>
                    <div class="col-md-1"ng-if="ddlDashboardType.DashboardTypeId !=2">
                        <button class=" btn btn-primary" ng-click="PrintBtn()">Print </button>
                    </div>
                </div>

                <div class="row " ng-if="ddlDashboardType.DashboardTypeId ==2">
                    <div class="col-md-11">
                    </div>
                        <div class="col-md-1">
                            <button class=" btn btn-primary" ng-click="PrintBtn()">Print </button>
                        </div>
                    </div>
                

                </div>
                

            </div>

        <div style="margin-right: 15px; margin-left: 15px;">
            <div class="row">
                <div class="col-md-5">

                </div>
                <div class="col-md-2" ng-show="IsPaymentReport">
                    <p style="font-weight:bold;font-size:18px;text-align:center;"><u>Payment Report</u></p>
                </div>
                <div class="col-md-2" ng-show="IsPurchase">
                    <p style="font-weight:bold;font-size:18px;text-align:center;"><u>Purchase Report</u></p>
                </div>
                <div class="col-md-5">

                </div>
            </div>
            <div class="row " ng-show="PurchaseShowDiv">
                <div class="row">
                    <div class="col-md-12">
                        <table style="border:1px solid black" class="responstable table-hover">
                            <thead border="1" style="border: 1px solid">

                                <tr>
                                    <th style="border: 1px solid" class="t-cell-center"></th>
                                    <th style="border: 1px solid" class="t-cell-center">SL.No</th>
                                    <th style="border: 1px solid" class="t-cell-center">PB NO</th>
                                    <th style="border: 1px solid" class="t-cell-center">PB Date</th>
                                    <th style="border: 1px solid; width: 15%;" class="t-cell-center" >Supplier Name</th>
                                    <th style="border: 1px solid" class="t-cell-center">Shipment Info </th>
                                    <th style="border: 1px solid" class="t-cell-center">Total Amount  </th>

                                    <th  style="border: 1px solid"class="t-cell-center">Remarks  </th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="aPurchaseBill in PurchaseBillList">

                                <tr>
                                    <td style="border: 1px solid" class="t-cell-center"><label><i ng-show="!aPurchaseBill.DisplaySta" class="fa fa-plus-square"></i><i ng-show="aPurchaseBill.DisplaySta" class="fa fa-minus-square"></i><input style="visibility:hidden;" type="checkbox" ng-model="aPurchaseBill.DisplaySta" ng-change="GetPurchaseBillDetail(aPurchaseBill.PBId, aPurchaseBill.Islocal); AutoCollasePurchaseBill(aPurchaseBill);" /></label></td>
                                    <td style="border: 1px solid"class="t-cell-center">{{$index+1}}</td>
                                    <td style="border: 1px solid"class="t-cell-center">{{aPurchaseBill.PBNo}}</td>
                                    <td style="border: 1px solid"class="t-cell-center">{{aPurchaseBill.PBDate}}</td>
                                    <td style="border: 1px solid"class="t-cell-center">{{aPurchaseBill.SupplierName}}</td>
                                    <td style="border: 1px solid"class="t-cell-center">{{aPurchaseBill.ShipmentInfo}}</td>
                                    <td style="border: 1px solid"class="t-cell-center">{{aPurchaseBill.TotalAmountAfterDiscount.toFixed(3)}}</td>

                                    <td style="border: 1px solid" class="t-cell-center">{{aPurchaseBill.Remarks}}</td>

                                </tr>
                                <tr ng-click="$event.stopPropagation();" ng-show="aPurchaseBill.DisplaySta">
                                    <td></td>
                                    <td colspan="7">
                                        <table class="responstable table-hover">
                                            <tr>
                                                <th>SL.No</th>
                                                <th class="t-cell-center">Item Code</th>
                                                <th class="t-cell-center">Item Name</th>
                                                <th class="t-cell-center">Description</th>
                                                <th class="t-cell-center">PB Qty </th>
                                                <th class="t-cell-center">PB Price</th>
                                            </tr>
                                            <tr ng-repeat="aPurchaseBillDetail in PurchaseBillDetailList">
                                                <td>{{$index+1}}</td>
                                                <td class="t-cell-center">{{aPurchaseBillDetail.ItemCode}}</td>
                                                <td class="t-cell-center">{{aPurchaseBillDetail.ItemName}}</td>
                                                <td class="t-cell-center">{{aPurchaseBillDetail.Description}}</td>
                                                <td class="t-cell-center">{{aPurchaseBillDetail.PBQty}}</td>
                                                <td class="t-cell-center">{{aPurchaseBillDetail.PBPrice.toFixed(3)}}</td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td  style="border: 1px solid; text-align: right" colspan="6"> Total:</td>

                                    <td style="border: 1px solid;"  class="t-cell-center">
                                        {{TotalAmountSum.toFixed(3)}}
                                    </td>
                                    <td style="border: 1px solid" ></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
            <div class="row " ng-show="PaymentShowDiv">
                <div class="row">
                    <div class="col-md-12">
                        <table class="responstable table-hover">
                            <thead border="1" style="border: 1px solid">
                           
                                <tr>
                                    <!--<th class="t-cell-center"></th>-->
                                    <th style="border: 1px solid" class="t-cell-center">SL.No</th>
                                    <th style="border: 1px solid; width: 15%;" class="t-cell-center" >Supplier Name</th>
                                    <th style="border: 1px solid" class="t-cell-center">PB No</th>
                                    <th style="border: 1px solid" class="t-cell-center">Payment No</th>
                                    <th style="border: 1px solid" class="t-cell-center">Payment Date</th>
                                    <th style="border: 1px solid" class="t-cell-center">Payment Type</th>

                                    <th style="border: 1px solid" class="t-cell-center">Actual Amount</th>
                                    <th style="border: 1px solid" class="t-cell-center">Paid Amount  </th>
                                    <th style="border: 1px solid" class="t-cell-center">Others (VAT , AIT)  </th>
                                    <th style="border: 1px solid" class="t-cell-center">Remarks </th>
                                    <th style="border: 1px solid" class="t-cell-center">Status</th>
                                    <!--<th class="t-cell-center">Payable Amount</th>-->

                                </tr>
                            </thead>
                            <tbody ng-repeat="aPayment in PaymentList  ">

                                <tr>
                                    <!--<td class="t-cell-center"><label><i ng-show="!aPayment.DisplaySta" class="fa fa-plus-square"></i><i ng-show="aPayment.DisplaySta" class="fa fa-minus-square"></i><input style="visibility:hidden;" type="checkbox" ng-model="aPayment.DisplaySta" ng-change="GetPaymentDetail(aPayment.SupplierPaymentId); AutoCollasePayment(aPayment);" /></label></td>-->
                                    <td style="border: 1px solid" class="t-cell-center">{{$index+1}}</td>
                                    <td style="border: 1px solid" class="t-cell-center">{{aPayment.SupplierName}}</td>
                                    <td style="border: 1px solid" class="t-cell-center">{{aPayment.PBNo}}</td>
                                    <td style="border: 1px solid" class="t-cell-center">{{aPayment.SupplierPaymentNo}}</td>
                                    <td style="border: 1px solid" class="t-cell-center">{{aPayment.PaymentDate}}</td>
                                    <td  style="border: 1px solid"class="t-cell-center">{{aPayment.PaymentTypeName}}</td>

                                    <td style="border: 1px solid"class="t-cell-center">{{aPayment.ActualAmount.toFixed(3)}}</td>
                                    <td style="border: 1px solid"class="t-cell-center">{{aPayment.PaidAmount.toFixed(3)}}</td>

                                    <td style="border: 1px solid" class="t-cell-center">{{aPayment.PaidAmountVATAIT.toFixed(3)}}</td>
                                    <td style="border: 1px solid" class="t-cell-center">{{aPayment.Remarks}}</td>
                                    <td style="border: 1px solid" class="t-cell-center">{{aPayment.Status}}</td>



                                </tr>
                                <!--<tr ng-click="$event.stopPropagation();" ng-show="aPayment.DisplaySta">
            <td></td>
            <td colspan="6">
                <table class="responstable table-hover">
                    <tr>
                        <th class="t-cell-center"></th>
                        <th>SL.No</th>
                        <th class="t-cell-center">PB No</th>
                        <th class="t-cell-center">PB Date</th>
                        <th class="t-cell-center">Actual Amount</th>
                        <th class="t-cell-center">Payable Amount</th>
                        <th class="t-cell-center">Paid Amount</th>
                    </tr>
                    <tbody ng-repeat="aPaymentDetail in PaymentDetailList">
                        <tr>
                            <td class="t-cell-center"><label><i ng-show="!aPaymentDetail.DisplaySta2" class="fa fa-plus-square"></i><i ng-show="aPaymentDetail.DisplaySta2" class="fa fa-minus-square"></i><input style="visibility:hidden;" type="checkbox" ng-model="aPaymentDetail.DisplaySta2" ng-change="GetPurchaseBillDetail(aPaymentDetail.PBId, aPaymentDetail.IsLocalPurchase); AutoCollasePurchaseBill(aPaymentDetail);" /></label></td>
                            <td>{{$index+1}}</td>
                            <td class="t-cell-center">{{aPaymentDetail.PBNo}}</td>
                            <td class="t-cell-center">{{aPaymentDetail.PBDate}}</td>
                            <td class="t-cell-center">{{aPaymentDetail.ActualAmount}}</td>
                            <td class="t-cell-center">{{aPaymentDetail.PayableAmount}}</td>
                            <td class="t-cell-center">{{aPaymentDetail.PaidAmount}}</td>
                        </tr>
                        <tr ng-if="aPaymentDetail.DisplaySta2">
                            <td></td>
                            <td></td>
                            <td colspan="7">
                                <table class="responstable table-hover">
                                    <tr>
                                        <th>SL.No</th>
                                        <th class="t-cell-center">Item Code</th>
                                        <th class="t-cell-center">Item Name</th>
                                        <th class="t-cell-center">Description</th>
                                        <th class="t-cell-center">PB Qty </th>
                                        <th class="t-cell-center">PB Price</th>
                                    </tr>
                                    <tr ng-repeat="aPurchaseBillDetail in PurchaseBillDetailList">
                                        <td>{{$index+1}}</td>
                                        <td class="t-cell-center">{{aPurchaseBillDetail.ItemCode}}</td>
                                        <td class="t-cell-center">{{aPurchaseBillDetail.ItemName}}</td>
                                        <td class="t-cell-center">{{aPurchaseBillDetail.Description}}</td>
                                        <td class="t-cell-center">{{aPurchaseBillDetail.PBQty}}</td>
                                        <td class="t-cell-center">{{aPurchaseBillDetail.PBPrice}}</td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </tbody>

                </table>

            </td>
        </tr>-->


                            </tbody>
                            <tfoot>
                                <tr>
                                    <td style="border: 1px solid; text-align: right" colspan="6"> Total:</td>

                                    <td style="border: 1px solid" class="t-cell-center">
                                        {{TotalActualAmount.toFixed(3)}}
                                    </td>
                                    <td style="border: 1px solid" class="t-cell-center">
                                        {{TotalPaidAmount.toFixed(3)}}
                                    </td>
                                    <td style="border: 1px solid" class="t-cell-center">
                                        {{VatAitWithPaidAmount.toFixed(3)}}
                                    </td>
                                    <td style="border: 1px solid" class="t-cell-center">
                                       
                                    </td>
                                    <td style="border: 1px solid" class="t-cell-center">
                                       
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<script>
    $("#ddlSupplier").select2({
        placeholder: "Select Supplier",
        theme: "classic",
        dropdownAutoWidth: false
    });
    $("#ddlpayment").select2({
       
    });
    
</script>