/*.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000;
    opacity: .75;
}
.overlaySO {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000;
    opacity: .75;
}*/

#loader {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    z-index: 1000;
    margin:0;
}
.UIBlocker {
    pointer-events: none;
}
.UIUnBlocker {
    pointer-events: visible;
}
/*#UIBlocker {
    display: none !important;
}

#UIUnBlocker {
    display: block !important;
}*/
/*#loader {
    position: fixed;
    bottom: 0;
    right: 20px;
}*/



/*.loader {
    border: 16px solid #0AEEE7;
    border-radius: 50%;
    border-top: 16px solid #f3f3f3;
    border-bottom: 16px solid #f3f3f3;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}*/
/*
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}*/
